# Weather

Open Meteo is a free and open-source weather data API that provides access to real-time and historical weather data for locations around the world. It offers a range of weather data, including temperature, humidity, wind speed, and precipitation.

In [6]:
import requests
import pandas as pd

# Ask user for latitude and longitude (e.g., Sydney is -33.891228, 151.19585)
latitude = input("Enter latitude: ")
longitude = input("Enter longitude: ")

# We construct a URL that is specific to the latitude and longitude the user inputted.
url = f'https://api.open-meteo.com/v1/forecast?latitude={latitude}&longitude={longitude}&current_weather=true&hourly=temperature_2m,relativehumidity_2m,windspeed_10m'
response = requests.get(url)    # We can then query this URL using a GET request
data = response.json()          # Format the response to json

current_weather = data['current_weather']
print(f'Weather information at {latitude},{longitude}')
pd.DataFrame.from_dict(current_weather, orient='index', columns=['values'])

Weather information at -34,151.2

                         values
time           2023-10-15T04:45
interval                    900
temperature                24.3
windspeed                  15.9
winddirection                65
is_day                        1
weathercode                   0

# yfinance

yfinance is a Python library that allows you to download financial data from Yahoo Finance. It provides a simple and convenient way to access historical stock prices, dividend data, and other financial data for publicly traded companies. With yfinance, you can easily download data for multiple stocks at once and perform analysis on the data using popular Python libraries like Pandas and Matplotlib.

In [2]:
import yfinance as yf
tesla = yf.download(
    tickers = 'TSLA', 
    start='2022-08-03', 
    end='2023-08-10'
    )
tesla

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-08-03,305.000000,309.549988,301.149994,307.396667,307.396667,80091000
2022-08-04,311.000000,313.606659,305.000000,308.633331,308.633331,72256200
2022-08-05,302.670013,304.606659,285.543335,288.170013,288.170013,113172900
2022-08-08,295.000000,305.200012,289.086670,290.423340,290.423340,98994000
2022-08-09,290.293335,292.396667,279.353333,283.333344,283.333344,86244600
...,...,...,...,...,...,...
2023-08-03,252.039993,260.489990,252.000000,259.320007,259.320007,97569100
2023-08-04,260.970001,264.769989,253.110001,253.860001,253.860001,99242600
2023-08-07,251.449997,253.649994,242.759995,251.449997,251.449997,111097900
2023-08-08,247.449997,250.919998,245.009995,249.699997,249.699997,96642200
2023-08-09,250.869995,251.100006,241.899994,242.190002,242.190002,101596300

In [3]:
tesla['Adj Close','Low'].plot()

KeyError: ('Adj Close', 'Low')

# News API

In [22]:
import requests

API_KEY = '624a9a3e85594ae99cd62b5379d12538' # FD's key
start = '2023-10-12'
end = '2023-10-12'
topic = 'apple'

# set response to the get request to the newsAPI asking for everything on the subjects of Apple
response = requests.get(f"https://newsapi.org/v2/everything?q={topic}&from={start}&to={end}&sortBy=popularity&apiKey={API_KEY}",timeout=10)

# print each title of the articles
for article in response.json()['articles']:
    print(article['title'])

The 26 best Amazon Prime Day deals you can still shop for today
Infinite Machine P1 Electric Scooter: Specs, Release Date, Features
Microsoft Surface Laptop Go 3 review: why does this exist?
For All Mankind's Season 4 Trailer Introduces a New Space Race
Starlink Says It's Bringing Cell Service to Remote Regions Starting Next Year
Apple AirTags stalking led to ruin and murders, lawsuit says
Ubuntu 23.10 is a Minotaur that moves faster and takes up less space
Google has new nifty tools for users who are concerned about their privacy
The Tensor G3 in the Pixel 8 is the best phone chip today
Apple Settles 7-Year Wi-Fi Chip Patent Dispute With Caltech
Bose QuietComfort Ultra Earbuds Review: Slightly Better Than Last Year's Model - CNET
Remember the Lower-Cost Apple Watch Series 1? It's Vintage Now
Apple Shares Checklist With Important Tips for Buying a Used iPhone
The Best Apple Deals You Can Still Get From Amazon's October Prime Day
Apple's First M3 MacBooks Coming Next Year, Claims Shipment Forecast
Warren Buffett's Berkshire Hathaway has likely scored a 93% gain on Nubank stock this year, making the crypto-friendly bank its best performer
The 5 most popular CEOs in the US right now, as voted by employees — and the 5 least popular
150+ last-minute October Prime Day deals that end tonight
A new all-business class airline promising a 'private jet' experience is launching flights to the Maldives using Airbus aircraft with lie-flat beds — meet Beond
Gen Z’s new favorite: YouTube tops Netflix in recent survey
Por qué el iPhone es el dispositivo más importante para Google
Cómo saber cuándo van a desaparecer tus series y películas favoritas de Netflix
He probado todos los iPhone 15. Tengo clarísimo cuál es la mejor compra
Los semáforos mal sincronizados son un gran problema. Google tiene una solución: inteligencia artificial
These iPads are still discounted following the Prime Big Deal days event
The 15-inch MacBook Air just became an even better buy
Is the iPhone 15 Pro Max camera as good as Apple says? I found out
Prime Day is over, but these laptop deals are still available
New Entry-Level Lucid Air Pure RWD Starts at $78,675, Still with 410-Mile Range
Kagi finally let me lay Google Search to rest
The Midwit Smart Home
Kurz informiert: Microsoft muss zahlen, Windkraft, Carsharing, Apple TV+
Zurück ins Kino: Apple setzt auf große Spielfilme als Streaming-Zugpferd
Bei Empfindlichkeit nachjustiert: Apple arbeitet in iOS 17.1 am Action-Button
#heiseshow: KI-News, Amazons Satelliten-Internet & Meta Quest 3
Donnerstag: Steuernachforderung für Microsoft, App-Löschung als Kinderschutz
Sicherheitsvorfall bei Cloud-Gaming-Anbieter Shadow PC
For All Mankind embarks on asteroid mining gold rush in season 4 official trailer
Apple reaches settlement with Caltech in $1 billion patent lawsuit
Here’s how Apple TV+ growth compares to other streaming platforms in the US
Five new features now available for AirPods Pro 2
iPhone 17 Pro could be first to use space-saving resin coated copper mainboard
Do’s and don’ts for cleaning your titanium iPhone 15 Pro
Meta ‘blacklisted’ developer after learning his VR fitness app will also launch on Vision Pro, lawsuit says
What can you connect to the iPhone 15 with USB-C?
14-inch M1 Pro MacBook Pro hits $1,250, save $289 on M1 iPad Pro, Twelve South gear, more
Supply chain report echoes reports of M3 MacBooks expected in 2024
Google’s eSIM transfer tool is finally here with the Pixel 8
YouTube’s controversial glow effect is spreading to fullscreen view
Caltech ends $1 billion patent case against Apple and Broadcom
iPhone 17 could be first to get new thinner & lighter motherboard tech
Emirates airline equips staff of 20,000 with iPhones, iPads to streamline flying process
Prime Day deals extended: Apple discounts of up to 48% off
Daily deals Oct. 12: $250 off MacBook Air, $399 iPad 10th Generation, Kindle Paperwhite for $70, more
Save $1,100 on Apple's 16-inch MacBook Pro with 32GB RAM, now just $1,799
M3 MacBook coming in 2024, predicts supply chain monitor
Nanoleaf expands Matter-capable Essentials lineup with new bulbs
How to make Siri use WhatsApp instead of Messages in iOS 17
'Star Trek: Infinite' grand galactic strategy game lands on Mac
Bridging Branding and Visual Identity: The Innovative Approach of SENSE by BUCK
Googleが本気でパスワード廃止に動き出した
The Polar Vantage V3 smartwatch combines Nordic functionality, size, and athletic appeal
BLUETTI’s Prime Day Sale offers BIG Discounts on Power Stations, Solar Panels, and More
Apple : l’énorme somme que débourse Google pour être sur l’iPhone
Le top des marques les plus durables : qui domine le podium ?
Test Sonos Move 2 : une autonomie doublée pour un son plus équilibré
Les mots de passe vont-ils disparaître une fois pour toutes ?
Retro Virtual Machine : Retour vers le futur de vos machines d’antan.
Estos son algunos dispositivos de Apple que todavía puedes comprar en oferta: desde iPhone hasta MacBook
Apple lanza su propio vídeo "estudia conmigo" con una actriz de 'Euphoria': así son estos aceleradores de productividad que ayudan a concentrarte
Qué pasa si quiero viajar a China con un AirTag, ¿es legal?
Ideogram IA: cómo usar la inteligencia artificial viral que crea nombres con diseños 3D, desde tu iPhone y gratis
Apple Watch Ultra 2 Review: The Best Smartwatch Gets Even Better
Ghostek’s Nautical Slim iPhone 15 Pro Max case is a great waterproof case Apple should have made
Nanoleaf’s latest smart bulbs offer Matter compatibility
How to run an Ubuntu virtual machine on Apple Silicon for free
If you’re not buying this cheap charger tonight, you’re missing one of the best Prime Day deals
Best VPN for iPhone for 2023
Missed October Prime Day? Here Are the Best Amazon Deals You Can Still Shop Online
The best Google Pixel 8 Pro alternatives: 5 phones worth consider before you buy
SpaceX’s Starlink set to launch satellite phone service in 2024
The most important Google Pixel Watch 2 questions, answered
Apple issues official warning against trusting people when buying a used iPhone
iPhone 16 Pro to support better 5G thanks to Qualcomm’s Snapdragon X75 modem
How to see if your iPhone is shutting down at night from Apple’s new bug
MyQ smart garage opener with 68,000 5-star reviews is cheaper now than on Prime Day
What Shoes Are You Wearing This Fall? (Plus, 25% Off)
Die Zinswende schlägt zurück
Turn your iPad and Apple Pencil into your Mac's mouse with this new app
The smallest fix to iPhone 15 Pro Max has had the biggest impact for Apple's giant phone — and now I love it
October M3 MacBook hopes dashed as report claims we'll have to wait until 2024
iPhone shut down unexpectedly overnight on iOS 17? It's not just you
Jam and record guitar to iPad, Mac and iPhone on the go with new iRig HD X portable shredding interface
You can now use your Elgato Capture card with an iPad thanks to this app
JLab JBuds Mini review: Tiny, affordable earbuds for ants pack more punch than you’d expect
Why Is Modern Star Trek So Nostalgic For Grapplers?
Kuo: iPhones Won't Adopt RCC for Thinner Circuit Boards Until 2025
Astropad Slate iPad App Lets You Control Your Mac With Apple Pencil
iPhone 16 Pro Expected to Support '5G Advanced' With Qualcomm's Snapdragon X75 Modem
The New Beats Studio Pro Headphones Are Available for Nearly Half Off at $179

# Pandas read_html() function

Pandas provides a `read_html()` function that allows you to extract tables from HTML web pages and convert them into Pandas DataFrames. This function is particularly useful for web scraping tasks where you need to extract data from HTML tables on a web page. The `read_html()` function can automatically detect and parse HTML tables from a web page and return them as a list of DataFrames. You can then manipulate the DataFrames using Pandas to perform further analysis or export the data to other formats.

In [26]:
# For example, if we want to get a list of the tickers in the Nasdaq 100, 
# we can use the following code:
nasdaq = 'https://en.wikipedia.org/wiki/Nasdaq-100#Components'
data_table = pd.read_html(nasdaq)

# print out information about the data_table
print(f'Type: {type(data_table)}')
print(f'Length: {len(data_table)}')
print(f'Dimensions: {data_table[0].shape}')

data_table

Type: <class 'list'>
Length: 17
Dimensions: (11, 2)

[                                     0                                       1
 0   Nasdaq-100 Index from 1985 to 2015      Nasdaq-100 Index from 1985 to 2015
 1                           Foundation          January 31, 1985; 38 years ago
 2                             Operator                            Nasdaq, Inc.
 3                            Exchanges                                  Nasdaq
 4                       Trading symbol                                    ^NDX
 5                         Constituents                                     101
 6                                 Type                               Large-cap
 7                           Market cap  US$16.9 trillion (as of April 2022)[1]
 8                     Weighting method      Free-float capitalization-weighted
 9                      Related indices                    Nasdaq Financial-100
 10                             Website                   nasdaq.com/nasdaq-100,
    Category  All-Time Highs[9]        All-Time Highs[9].1
 0   Closing           16573.34  Friday, November 19, 2021
 1  Intraday           16764.86  Monday, November 22, 2021,
     Milestone[10] (closing) Date of Record (closing)[10]  Trading Days[10]
 0                      1000                 July 8, 1997              3143
 1                      2000             January 11, 1999               381
 2                      3000            November 18, 1999               217
 3                      4000             February 8, 2000                55
 4                      5000              January 6, 2017              4255
 5                      6000           September 13, 2017               172
 6                      7000             January 26, 2018                93
 7                      8000                July 24, 2019               374
 8                      9000             January 13, 2020               119
 9                     10000                June 10, 2020               103
 10                    11000               August 3, 2020                37
 11                    12000              August 31, 2020                20
 12                    13000              January 8, 2021                90
 13                    14000               April 15, 2021                66
 14                    15000                July 23, 2021                69
 15                    16000             November 3, 2021                72,
     Year  Closing level Change in Index in Points Change in Index in %
 0   1985         132.29                       NaN                  NaN
 1   1986         141.41                      9.12                 6.89
 2   1987         156.25                     14.84                10.49
 3   1988         177.41                     21.16                13.54
 4   1989         223.84                     46.43                26.17
 5   1990         200.53                    −23.31               −10.41
 6   1991         330.86                    130.33                64.99
 7   1992         360.19                     29.33                 8.86
 8   1993         398.28                     38.09                10.57
 9   1994         404.27                      5.99                 1.50
 10  1995         576.23                    171.96                42.54
 11  1996         821.36                    245.13                42.54
 12  1997         990.80                    169.44                20.63
 13  1998        1836.01                    845.21                85.31
 14  1999        3707.83                   1871.81               101.95
 15  2000        2341.70                 −1,366.13               −36.84
 16  2001        1577.05                   −764.65               −32.65
 17  2002         984.36                   −592.69               −37.58
 18  2003        1467.92                    483.56                49.12
 19  2004        1621.12                    153.20                10.44
 20  2005        1645.20                     24.08                 1.49
 21  2006        1756.90                    111.70                 6.79
 22  2007        2084.93                    328.03                18.67
 23  2008        1211.65                   −873.28               −41.89
 24  2009        1860.31                    648.66                53.54
 25  2010        2217.86                    357.55                19.22
 26  2011        2277.83                     59.97                 2.70
 27  2012        2660.93                    383.10                16.82
 28  2013        3592.00                    931.07                34.99
 29  2014        4236.28                    644.28                17.94
 30  2015        4593.27                    356.99                 8.43
 31  2016        4863.62                    270.35                 5.89
 32  2017        6396.42                   1532.80                31.52
 33  2018        6329.96                    −66.46                −1.04
 34  2019        8733.07                   2403.11                37.96
 35  2020       12888.28                   4155.21                47.58
 36  2021       16320.08                   3431.80                26.63
 37  2022       10939.76                 −5,380.32               −32.97,
                        Company Ticker             GICS Sector  \
 0                   Adobe Inc.   ADBE  Information Technology
 1                          ADP    ADP             Industrials
 2                       Airbnb   ABNB  Consumer Discretionary
 3             Align Technology   ALGN             Health Care
 4      Alphabet Inc. (Class A)  GOOGL  Communication Services
 ..                         ...    ...                     ...
 96      Warner Bros. Discovery    WBD  Communication Services
 97               Workday, Inc.   WDAY  Information Technology
 98                 Xcel Energy    XEL               Utilities
 99   Zoom Video Communications     ZM  Information Technology
 100                    Zscaler     ZS  Information Technology

                         GICS Sub-Industry
 0                    Application Software
 1    Human Resource & Employment Services
 2          Hotels, Resorts & Cruise Lines
 3                    Health Care Supplies
 4            Interactive Media & Services
 ..                                    ...
 96                           Broadcasting
 97                   Application Software
 98                        Multi-Utilities
 99                   Application Software
 100                  Application Software

 [101 rows x 4 columns],
                 vteCompanies of the Nasdaq-100 index  \
 0  Adobe ADP AMD Airbnb Align Alphabet Amazon AEP...

               vteCompanies of the Nasdaq-100 index.1
 0  Adobe ADP AMD Airbnb Align Alphabet Amazon AEP...  ,
                                      vteNasdaq, Inc.  \
 0  Operator of the Nasdaq, Nasdaq Nordic, and Nas...
 1                                          Exchanges
 2                                            Indexes
 3                                     Other holdings

                                    vteNasdaq, Inc..1  \
 0  Operator of the Nasdaq, Nasdaq Nordic, and Nas...
 1  Boston First North Nasdaq Baltic Riga Tallinn ...
 2  Copenhagen 25 Helsinki 25 Iceland 8 Iceland 10...
 3  GlobeNewswire Nasdaq MarketSite Nasdaq Private...

                                    vteNasdaq, Inc..2
 0  Operator of the Nasdaq, Nasdaq Nordic, and Nas...
 1                                                NaN
 2                                                NaN
 3                                                NaN  ,
    vteStock market indices                          vteStock market indices.1
 0                   Global  Equities MSCI ACWI Index MSCI World S&P Global...
 1                 Equities  MSCI ACWI Index MSCI World S&P Global 100 S&P ...
 2              Commodities  Bloomberg Commodity Index S&P GSCI Deutsche Ba...
 3                 Regional  Asia S&P Asia 50 Europe EURO STOXX 50 STOXX Eu...
 4                     Asia                                        S&P Asia 50
 5                   Europe  EURO STOXX 50 STOXX Europe 600 FTSEurofirst 30...
 6            Latin America                               S&P Latin America 40
 7                    Other                                 MSCI EAFE MSCI GCC
 8         Industry indices  Energy Amex Oil Index Electronics PHLX Semicon...
 9                   Energy                                     Amex Oil Index
 10             Electronics                   PHLX Semiconductor Sector TecDax
 11                  Metals  HUI Gold Index Philadelphia Gold and Silver Index
 12             Real estate                              CBV Real Estate Index
 13                   Water                              Palisades Water Index
 14                   Other                                   Baltic Dry Index
 15                Americas  USMajor Dow Jones Industrial Average NYSE Comp...
 16                      US  Major Dow Jones Industrial Average NYSE Compos...
 17                   Major  Dow Jones Industrial Average NYSE Composite NA...
 18                   Other  Dow Jones Transportation Average Dow Jones Uti...
 19                  Canada                 S&P/TSX 60 S&P/TSX Composite Index
 20                   Other  Indice de Precios y Cotizaciones (Mexico) COLC...
 21                  Europe  UK FT 30 FTSE 100 Index FTSE 250 Index FTSE 35...
 22                      UK  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...
 23                  France  CAC 40 CAC Next 20 CAC Mid 60 CAC Small CAC Al...
 24                   Other  AEX ATX BEL 20 BUX DAX FTSE MIB IBEX 35 ISEQ 2...
 25                    Asia  China SSE Composite SZSE Component SSE 50 Inde...
 26                   China  SSE Composite SZSE Component SSE 50 Index SSE ...
 27                   India        BSE SENSEX NIFTY 50 NIFTY Next 50 NIFTY 500
 28                   Japan                     Nikkei 225 TOPIX S&P/TOPIX 150
 29             South Korea                                       KOSPI KOSDAQ
 30                   Other  KASE (Kazakhstan) KSE (Kyrgyzstan) Tashkent (U...
 31                 Oceania  S&P/ASX 20 S&P/ASX 50 S&P/ASX 200 S&P/ASX 300 ...,
              0                                                  1
 0     Equities  MSCI ACWI Index MSCI World S&P Global 100 S&P ...
 1  Commodities  Bloomberg Commodity Index S&P GSCI Deutsche Ba...,
                0                                                  1
 0           Asia                                        S&P Asia 50
 1         Europe  EURO STOXX 50 STOXX Europe 600 FTSEurofirst 30...
 2  Latin America                               S&P Latin America 40
 3          Other                                 MSCI EAFE MSCI GCC,
              0                                                  1
 0       Energy                                     Amex Oil Index
 1  Electronics                   PHLX Semiconductor Sector TecDax
 2       Metals  HUI Gold Index Philadelphia Gold and Silver Index
 3  Real estate                              CBV Real Estate Index
 4        Water                              Palisades Water Index
 5        Other                                   Baltic Dry Index,
         0                                                  1
 0      US  Major Dow Jones Industrial Average NYSE Compos...
 1   Major  Dow Jones Industrial Average NYSE Composite NA...
 2   Other  Dow Jones Transportation Average Dow Jones Uti...
 3  Canada                 S&P/TSX 60 S&P/TSX Composite Index
 4   Other  Indice de Precios y Cotizaciones (Mexico) COLC...,
        0                                                  1
 0  Major  Dow Jones Industrial Average NYSE Composite NA...
 1  Other  Dow Jones Transportation Average Dow Jones Uti...,
         0                                                  1
 0      UK  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...
 1  France  CAC 40 CAC Next 20 CAC Mid 60 CAC Small CAC Al...
 2   Other  AEX ATX BEL 20 BUX DAX FTSE MIB IBEX 35 ISEQ 2...,
              0                                                  1
 0        China  SSE Composite SZSE Component SSE 50 Index SSE ...
 1        India        BSE SENSEX NIFTY 50 NIFTY Next 50 NIFTY 500
 2        Japan                     Nikkei 225 TOPIX S&P/TOPIX 150
 3  South Korea                                       KOSPI KOSDAQ
 4        Other  KASE (Kazakhstan) KSE (Kyrgyzstan) Tashkent (U...,
          vteMajor United States stock market indices  \
 0  Dow Jones Industrial Average historical compon...

        vteMajor United States stock market indices.1
 0  Dow Jones Industrial Average historical compon...  ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ]